{{!-- <div>
    <h1>Hola, {{user.name}}, que gusto verte</h1>
</div>
 --}}
<header>
    <a href="/realtimeproducts">Pagina productos</a>
</header>

{{!-- <div>
    <h2>Todos los mensajes: </h2>
    <div id="messageContainer"></div>
</div> --}}




 <script src="/socket.io/socket.io.js"></script>  {{!-- Incorporamos socket.io  --}}
 <script src="/js/index.js"></script>